.hero{
    background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
                url("benziane toufik.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 60px 20px;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 30px;
}

.btn{
    background:#d4af37;
    color:white;
    padding:15px 35px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
} 
.logo{
    font-size:26px;
    font-weight:bold;
    color:#FFD700;
    text-decoration:none;
    letter-spacing:2px;
}

.logo strong{
    color:#ffffff;
} 
